h1 a {
    color: rgb(44, 165, 125);
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    background-color: rgb(241, 213, 213);
}

.page-header {
    background-image: url("https://thumbs.gfycat.com/UnkemptBriskAgouti-small.gif");
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #e9dcdc;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 1px 1px 5px black, 0 0 25px lightcoral, 0 0 5px green;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.page-header h1 {
    margin-top: 200;
}

.date {
    color: #286d5c;
    text-shadow: 1px 1px 5px black;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    padding-left: 10px;
    border-style: groove;
    border-width: 1px;
    border-color: #e4cbd8;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post h1 a, .post h1 a:visited {
    color: #286d5c;
    text-shadow: 1px 1px 2px black;
}